.days {
    display: flex;
    border-bottom: 1px solid red;
}

.days img {
    width: 8vw;
    margin-right: 3vw;
}

.days b {
    float: right;
    margin-right: 3vw;
}

.days strong {
    margin-left: 3vw;
}

.taddy {
    width: 50%;
    border-right: 1px solid red;
}

.under {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 1vh;
}

.above {
    margin-left: 3vw;
}

.tomorrow {
    width: 50%;
}