* {
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
    width: 100%;
}

.above_week {
    display: flex;
    justify-content: center;
}

.above_week div,.under_week div {
    display: flex;
    width: calc(100% / 6);
    border-right: 1px solid red;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.above_week div span ,.under_week div span{
    margin-top: 2vh;
}
.under_week div span:nth-last-child(1){
    margin-top: 0;
}
.above_week div img {
    width: 10vw;
}
.weekChart{
    width: 100vw;
    height: 15vh;
    /*background-color: dodgerblue;*/
}
.under_week{
    display: flex;

}

.under_week div img {
    width: 10vw;
}