.background {
    position: absolute;
    width: 100vw;
    height: 15vh;
    top: 35vh;
    z-index: -4;
}

.background img {
    width: 100%;
}

.cover_above {
    position: absolute;
    width: 100%;
    height: 45vh;
    z-index: -7;
    background-image: linear-gradient(to bottom, #127FC4, #498DC8);
}

.cover_under {
    position: absolute;
    width: 100%;
    height: 200%;
    top: 49.3vh;
    z-index: -7;
    background-color: #0d5AA5;
}