/* body {
    background-image: url(../images/building_night.png);
    background-repeat: no-repeat;
    background-size: contain;
    margin-top: 50vh;
  
} */


/* body {
    background: #0d5aa5
} */

.info_box {
    width: 100vw;
    /* height: 46vh; */
    /* background-color: wheat; */
    /* background-color: #478CC8; */
    color: white;
    /* border-bottom: 1px solid red; */
    /*  */
}

.city {
    color: #fff;
}

.position {
    display: flex;
    padding-top: 2vh;
    justify-content: center;
    align-items: center;
}

.searchBtn img {
    background-color: gray;
    border-radius: 50%;
}

.InformationAndTravel {
    display: flex;
    width: 100vw;
    justify-content: center;
    color: white;
    margin-top: 3vh;
}

.InformationAndTravelContent {
    display: flex;
    width: 90vw;
    justify-content: space-around;
}

.InformationAndTravel img {
    width: 10vw;
    margin-right: 3vw;
}

.information {
    width: 40vw;
    background-color: #336699;
    display: flex;
    justify-content: center;
    border-radius: 8vw;
}

.informationContent {
    display: flex;
    align-items: center;
}

.travel {
    width: 40vw;
    background-color: #336699;
    display: flex;
    justify-content: center;
    border-radius: 8vw;
}

.travelContent {
    display: flex;
    align-items: center;
}

.weatherCondition {
    color: white;
    /* height: 15vh; */
    /* background-color: blueviolet; */
    /* text-align: end; */
    padding-top: 11vh;
    font-size: 6vw;
}

.temperature {
    font-size: 25vw;
}

.temperature::after {
    position: absolute;
    left: 15vw;
    content: "°";
    font-size: 10vw;
}

.DetailedInformation {
    display: flex;
    width: 95%;
    margin: 0 auto;
    justify-content: space-between;
}

.info_api {
    display: flex;
    background-color: #336699;
    width: 20vw;
    border-radius: 10vw;
    align-items: center;
    justify-content: start;
}

.info_api img {
    background-color: orange;
    border-radius: 10vw;
    width: 8vw;
    height: 8vw;
    vertical-align: middle;
    /* height: 10vw; */
    margin-left: 2vw;
}